body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  background-color: #282828;
  color: white;
  font-family: lato;
}

.footer {
  position: relative;
  margin: auto;
  width: 100%;
  height: 30vh;
  background-color: black;
  color: white;
  margin-top: 120px;
}

.footer p {
  float: left;
  margin-right: 40px;
  transform: translateY(330%);
}

.footer img {
  width: 70px;
  height: 70px;
  transform: translateY(80%);
}

.footer h4 {
  position: relative;
  float: right;
  clear: right;
  margin: 0;
  transform: translateY(500%);
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  src: url("./fonts/Lato-Light.ttf");
  font-family: lato;
}

@font-face {
  src: url("./fonts/Caveat-Regular.ttf");
  font-family: caveat;
}

/* NAVIGATION SECTION */
.navbar {
  width: 100vw;
  height: 9vh;
  background-color: #00001a;
}

.logo {
  width: 150px;
  text-align: center;
  height: 5vh;
  position: relative;
  float: left;
  transform: translateY(-50%);
  margin-left: 40px;
}

.logo h1 {
  color: red;
  font-family: Caveat;
  font-size: 35px;
}

/* SEARCH BAR SECTION */
.searchbar {
  margin: auto;
  text-align: center;
  height: 40px;
  width: 50%;
  transform: translateY(30%);
}

.searchbar input {
  height: 38px;
  width: 80%;
  border-radius: 8px;
  color: black;
}

.searchbar button {
  height: 44px;
  width: 100px;
  border-radius: 8px;
  transform: translateX(-80%);
}

/* HERO CAROUSEL SECTION */

.heroCarousel {
  height: 91vh;
  width: 100%;
}

.heroContainer {
  width: 100vw;
  height: 91vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.heroContainer img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.heroContainer h1 {
  position: absolute;
  top: 60%;
  left: 5%;
  text-align: justify;
  width: 60%;
  z-index: 2;
  font-size: 34px;
  text-transform: uppercase;
}

.heroContainer h3 {
  position: absolute;
  top: 50%;
  left: 5%;
  text-align: justify;
  width: 50%;
  z-index: 2;
  font-size: 27px;
  text-transform: uppercase;
}

.heroContainer p {
  position: absolute;
  top: 70%;
  left: 5%;
  text-align: justify;
  width: 50%;
  z-index: 2;
  font-size: 17px;
}

/* CAROUSEL SECTION */

.carousel {
  width: 80%;
  margin: 0 auto;
}

.cardContainer {
  width: auto;
  text-align: center;
  height: 290px;
}

.cardContainer p {
  font-size: 15px;
  line-height: 15px;
  margin: 0;
  margin-top: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.cardContainer img {
  height: 84%;
  width: 80%;
  border-radius: 10px;
  filter: brightness(70%);
  margin: auto;
  transition: 0.4s;
}

.cardContainer img:hover {
  filter: brightness(110%);
}

.homeText {
  text-align: justify;
  margin: 35px auto;
  width: 75%;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.pop {
  border-bottom: 1px solid black;
}

/* SEARCH PAGE SECTION */

.searchContainer {
  min-height: 180px;
  height: 100%;
  width: 80%;
  padding: 30px 0;
  margin: auto;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: 1.4s;
}

.searchDescription {
  width: 80%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  opacity: 0;
  transition: 1.4s;
}

.searchDivider {
  width: 6%;
  border: 2px solid black;
  margin: 30px auto;
}

.searchCardContainer {
  display: inline-block;
  position: relative;
  width: 180px;
  text-align: center;
  height: 315px;
  margin: auto 19px;
  overflow: hidden;
}

.searchCardContainer img {
  height: 77%;
  width: 100%;
  border-radius: 10px;
  filter: brightness(70%);
  transition: 0.4s;
}
.searchCardContainer img:hover {
  filter: brightness(110%);
}

.searchCardContainer h1 {
  font-size: 14px;
  line-height: 15px;
  margin: 0;
  margin-top: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* MOVIE INFO SECTION */

.posterHeader {
  width: 100vw;
  height: 90vh;
  box-shadow: inset 0px -360px 300px #181818;
  opacity: 0;
  transition: 1.4s;
}

.posterHeaderInfo {
  transform: translateY(230%);
  color: white;
  width: 80%;
  margin: auto;
  display: flex;
  opacity: 0;
  transition: 1.4s;
}

.posterInformation {
  padding: 10px;
}

.posterHeader img {
  height: 180px;
  width: 150px;
  border-radius: 10px;
}
.posterHeader h1 {
  margin: 20px 10px;
}

.posterHeader p {
  display: inline-block;
  margin: auto 12px;
  margin-right: 5px;
}

.posterSummary {
  margin: auto;
  width: 70%;
  font-size: 20px;
  opacity: 0;
  transition: 1.4s;
}

.castSummary {
  width: 70%;
  margin: auto;
  opacity: 0;
  transition: 1.4s;
}

.castCarouselContainer {
  width: 100%;
  height: 100%;
}

.castCardContainer {
  width: auto;
  text-align: center;
  height: 250px;
}

.castCardContainer p {
  font-size: 15px;
  line-height: 15px;
  margin: 0;
  margin-top: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.castCardContainer img {
  height: 80%;
  width: 80%;
  border-radius: 10px;
  filter: brightness(70%);
  margin: auto;
}

.castCardContainer img:hover {
  filter: brightness(110%);
}

.reviewSection {
  width: 70%;
  margin: auto;
  margin-bottom: 90px;
  opacity: 0;
  transition: 1.4s;
}

.reviewCard {
  border: 2px solid black;
  margin-bottom: 60px;
  height: 180px;
  text-align: center;
  background-color: #202020;
}

.reviewCard h2 a {
  text-align: justify;
  margin-left: 20px;
  font-size: 20px;
  color: gray;
  float: left;
}

.reviewCard h2 a:hover {
  color: white;
}

.reviewAuthor {
  height: 27%;
  line-height: 50px;
  margin: auto;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

.reviewContent {
  line-height: 20px;
  margin: auto;
  text-align: justify;
  height: 30%;
  width: 96%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 5px;
}

/* PERSON INFO SECTION */

.personInformation {
  width: 100%;
  opacity: 0;
  transition: 1.4s;
}

.personBio {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.personBio img {
  height: 100%;
  width: 200px;
  border: 1px solid #505050;
  display: inline-block;
  vertical-align: top;
  transform: translateY(5%);
}

.personInfoblock {
  width: 70%;
  height: 96%;
  position: relative;
  display: inline-block;
  line-height: 15px;
  margin: 0 auto;
  margin-left: 25px;
  vertical-align: top;

  padding: 0;
}
.personInfoblock h1 {
  font-size: 27px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.personInfoblock h2 {
  font-size: 18px;
}

.personInfoblock p {
  line-height: 20px;
  font-size: 17px;
}

.popularMovies {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.popMoviesCard {
  border: 2px solid black;
  margin-bottom: 60px;
  height: 220px;
  background-color: #202020;
}

.popMoviesCardImage {
  width: 12%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.popMoviesCard img {
  width: 100%;
  height: 100%;
}

.popMoviesDescription {
  display: inline-block;

  width: 85%;
  height: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1230px) {
  /* NAVIGATION BAR */

  .navbar {
    height: 9vh;
  }

  .logo h1 {
    font-size: 30px;
  }

  /* SEARCH BAR SECTION */
  .searchbar {
    transform: translateY(15%);
    float: right;
    height: 7vh;
  }

  .searchbar input {
    height: 5vh;
    width: 70%;
    margin: auto;
    transform: translateY(9%);
  }

  .searchbar button {
    height: 6vh;
    width: 85px;
    border-radius: 8px;
    transform: translateX(-12%) translateY(9%);
  }

  /* HERO CAROUSEL SECTION */

  .heroContainer h1 {
    font-size: 29px;
    width: 100%;
    top: 58%;
  }

  .heroContainer h3 {
    font-size: 25px;
  }

  .heroContainer p {
    width: 65%;
    font-size: 16px;
    top: 66%;
  }

  /* CAROUSEL SECTION */

  .homeText {
    font-size: 29px;
  }

  /* MOVIE INFO SECTION */

  .posterHeaderInfo {
    transform: translateY(210%);
  }

  .reviewContent {
    line-height: 20px;
    margin: auto;
    text-align: justify;
    height: 30%;
    width: 90%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 5px;
  }

  /* PERSON INFO SECTION */

  .personBio img {
    height: 100%;
    width: 200px;
    transform: translateY(5%);
  }

  .personInfoblock {
    width: 65%;
  }

  .personInfoblock p {
    font-size: 16px;
  }

  .popularMovies {
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }

  .popMoviesCard {
    height: 200px;
  }

  .popMoviesCardImage {
    width: 17.8%;
    margin-right: 10px;
  }

  .popMoviesDescription {
    width: 80%;
    font-size: 15px;
  }
}

@media screen and (max-width: 850px) {
  /* FOOTER */

  .footer p {
    float: left;
    margin-right: 40px;
    transform: translateY(330%);
    font-size: 14px;
  }

  .footer img {
    width: 40px;
    height: 40px;
    transform: translateY(150%);
  }

  .footer h4 {
    position: relative;
    float: right;
    clear: right;
    font-size: 14px;
    margin: 0;
    transform: translateY(800%);
  }

  /* NAVIGATION BAR */

  .navbar {
    height: 9vh;
  }

  .logo {
    width: 150px;
    text-align: center;
    height: 8.5vh;
    position: relative;
    transform: translateY(0);
    margin-left: 0;
  }

  .logo h1 {
    font-size: 28px;
    margin: 8% auto;
  }

  /* SEARCH BAR SECTION */
  .searchbar {
    transform: translateY(25%);
    float: right;
    width: 58%;
    height: 7vh;
  }

  .searchbar input {
    height: 4vh;
    width: 70%;
    transform: translateY(9%);
  }

  .searchbar button {
    height: 5vh;
    width: 75px;
    transform: translateX(-12%) translateY(9%);
  }

  /* HERO CAROUSEL SECTION */

  .heroContainer {
    text-align: center;
    height: 60vh;
  }
  .heroContainer h1 {
    font-size: 23px;
    width: 100%;
    top: 73%;
    left: 0;
    text-align: center;
  }

  .heroContainer h3 {
    width: 100%;
    font-size: 20px;
    top: 63%;
    left: 0;
    text-align: center;
  }

  .heroContainer p {
    display: none;
  }

  /* MOVIE INFO SECTION */

  .posterHeader {
    width: 100vw;
    height: 50vh;
    box-shadow: inset 0px -360px 300px #181818;
  }

  .posterHeaderInfo {
    transform: translateY(140%);
  }

  .posterInformation {
    padding: 10px;
  }

  .posterHeader img {
    height: 130px;
    width: 110px;
    border-radius: 10px;
  }
  .posterHeader h1 {
    margin: 20px 10px;
    font-size: 20px;
  }

  .reviewContent {
    line-height: 20px;
    margin: auto;
    text-align: justify;
    height: 30%;
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 5px;
  }

  .reviewSection h2 a {
    font-size: 16px;
  }

  /* PERSON INFO SECTION */

  .personBio {
    display: block;
    text-align: center;
    width: 90%;
  }

  .personBio img {
    height: 100%;
    width: 200px;
    transform: translateY(0);
    margin-bottom: 20px;
  }

  .personInfoblock {
    width: 100%;
    margin: auto;
  }

  .personInfoblock p {
    font-size: 16px;
  }

  .popularMovies {
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }

  .popMoviesCard {
    height: 180px;
  }

  .popMoviesCardImage {
    width: 23%;
    margin-right: 10px;
  }

  .popMoviesDescription {
    width: 73%;
    height: 87%;

    font-size: 13px;
    overflow-y: hidden;
  }
}
